{% extends './base.html' %}
{% load static %}


{% block title %}
    Наши отзывы
{% endblock title %}


{% block scripts %}
    
{% endblock scripts %}
    

{% block content %}

<div class="container">
    <p class = 'text-center fs-4 fw-bold text-primary'>Отзывы</p>
    <div class="comment_content d-flex mt-3 flex-wrap">
        {% for o in obj %}
            <div class="box-comment shadow-sm rounded d-flex flex-column align-items-center p-3 m-5" style = 'min-width: 320px; max-width: 320px; min-height: 200px;'>
                <div class = 'avatar shadow-sm rounded-circle' style = '
                    height:150px;
                    width: 150px;
                    background-image: url("{{o.user.avatar.url}}");
                    background-repeat:no-repeat;
                    background-position:center;
                    background-size:cover;
                    '></div>
                <div class ='mt-5'>
                    <p class = 'fs-5 text-center mx-auto' style="min-height: 60px;"> {{ o.user.last_name }} {{ o.user.first_name }} {{ o.user.patronymic }} </p>
                    <p class = 'text-center'>  <i class="fa-regular fa-envelope"></i> {{ o.user.email }} </p>
                    <p class = 'text-center'> {{ o.comment }} </p>
                </div>
            </div>
        {% empty %}
            <p class = 'text-center text-danger fs-2'>В бд пусто.</p>
        {% endfor %}
    </div>
</div>

{% endblock content %}
    
    